# IntelliJ project files
.idea
.vscode
.run

# Build files
.cache
*.pyc
*.pyd
cmake-build-*/
golang_tests/
build
Testing
msg

# Log files
dump.txt

*.o
*.elf
tests/cpp/messgen
.done.*


generate_manet_protocol.sh

generate_video.sh

generate_web.sh
