name: JS CI & Publish

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


permissions:
  contents: read
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./port/js

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/node

      - name: Install dependencies
        run: npm ci --prefer-offline --no-audit

      - name: Run lint
        run: npm run check:lint

      - name: Run type check
        run: npm run check:types

      - name: Run tests
        run: npm run test

      - name: Build
        run: npm run build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: js-build
          path: ./port/js/dist


  publish:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'

    defaults:
      run:
        working-directory: ./port/js

    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/node

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: js-build
          path: ./port/js/dist

      - uses: EndBug/version-check@v2
        id: version
        with:
          diff-search: true
          file-name: port/js/package.json

      - name: Publish to npm
        if: steps.version.outputs.changed == 'true'
        run: npm publish
